/* Don't show the title and description */
.wufoo .info { display: none; }

.wufoo a,
.wufoo a:visited
{
  color: #8fbcde;
  text-decoration: underline;
}

.wufoo a:hover,
.wufoo a:active
{
  color: #fff;
}

.wufoo .instruct small
{
  color: #eee !important;
  font-size: 11px;
  line-height: 1.6;
}

form.wufoo.leftLabel li.leftHalf,
form.wufoo.leftLabel li.rightHalf
{
  padding: 2em 0 !important;
}

form.wufoo.leftLabel li,
form.wufoo.leftLabel li
{
  width: 100% !important;
}

form.wufoo.leftLabel .desc
{
  width: 23% !important;
}

form.wufoo.leftLabel .altInstruct .instruct
{
  margin-left: 23% !important;
}

form.wufoo.leftLabel li.leftHalf label.desc,
form.wufoo.leftLabel li.rightHalf label.desc
{
  width: 100% !important;
}

/*
#fo2li308
{
  border-top: 4px solid #292929;
  padding-top: 2em;
}
*/

form.wufoo li small span
{
  color: #333 !important;
  margin-right: 0 !important;
}