<IfModule mod_rewrite.c> 
RewriteEngine On
RewriteBase /

# Old site sections
RewriteRule ^gate.*$ http://clonesofthequeen.bandcamp.com/album/gate [R=301,L]
RewriteRule ^gate/download.*$ http://clonesofthequeen.bandcamp.com/album/gate [R=301,L]
RewriteRule ^about.*$ /?section=about [R=301,L]
RewriteRule ^store.*$ /?section=store [R=301,L]
RewriteRule ^photos.*$ /?section=photos [R=301,L]

RewriteRule ^braided.*$ http://clonesofthequeen.bandcamp.com/album/braided [R=301,L]
</IfModule>